.burger {
  position: absolute;
  right: 15px;
  top: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  @include tablet-min {
    display: none;
  }
  &__menu {
    position: absolute;
    background: rgba($color-white,1);
    width: 100%;
    height: 2px;
    top: 50%;
    right: 0px;
    margin-top: -2px;
    opacity: 1;
    &::before {
      content: "";
      position: absolute;
      background: rgba($color-white,1);
      display: block;
      width: 100%;
      height: 2px;
      top: 10px;
    }
    &::after {
      content: "";
      position: absolute;
      background: rgba($color-white,1);
      display: block;
      width: 100%;
      height: 2px;
      bottom: 10px;
    }
    &, &::after, &::before {
      transition: all 0.35s ease-in-out;
    }
  }
  &.active &__menu::after{
    transform: rotate(-45deg);
    bottom: 0px;
  }
  &.active &__menu::before{
    transform: rotate(45deg);
    top: 0px;
  }
  &.active &__menu{
    background: rgba($color-white, 0);
  }
}
